---
---
.btn-green {
    color: #159957 !important;
    border-color: #159957 !important;
    background-color: transparent !important;
}

.btn-green:hover {
    color: #ffffff !important;
    background-color: #159957 !important;
    text-decoration: none !important;
}

.versions-table-container {
    max-width: none !important;
}

.versions-table-container table {
    display: table !important;
    width: 100% !important;
}

.old-version {
    display: none;
}

.text-center {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}
